[submodule "demo_API"]
	path = demo_API
	url = https://github.com/dilzio/demo_API.git
[submodule "demokconsumer"]
	path = demokconsumer
	url = https://github.com/dilzio/demokconsumer.git
[submodule "dc_demo_API"]
	path = dc_demo_API
	url = git@github.com:dilzio/dc_demo_API.git
